/* montserrat font for footer */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




.font-montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.myscroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.myscroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
.myscroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.myscroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}